body{
    background: url("../images/body-bg1.jpg") repeat;
    width: 100%;
    background-size: cover;
}

.main-container{

    border: rgb(26, 161, 170) solid 3px;
    box-shadow: 3px 7px #0e606bbe;
    height: 550px;
    color: #2a5547;

}

.bg-image-container{
    background: rgba(75,175,198, 0.7) url("../images/charlie-chaplin-3.jpg") no-repeat right center;
    background-size: contain;
    z-index: -1;
}

.start-screen{
    position: absolute;
    top: 50%;
    left: 45%;
    width: auto;
}

#start-btn, #play-again-btn{
    background-color: rgb(75,175,198);
    color: #2a5547;
    width: 300px;
    padding: 10px;
    font-size: 50px;
    border: 2px solid #2a5547;
    border-radius: 10px;
}

.jumbotron{
    background-color:rgba(27,163,156);
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 100%;
    color: #34415e;
}

.margin{
    margin: 50px 100px 20px 100px;
    background-color: rgb(75,175,198);
    border: 2px solid #2a5547;
    border-radius: 10px;
    padding: 10px;
}

ul li{
    list-style: none;
    font-size: 25px;
    color: #114c2a;
    line-height: 50px;
    cursor: pointer;
}

ul li:hover{
    background-color:  rgb(75,175,198);
    border: 2px solid #2a5547;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}