body{
    background: url("../images/body-bg1.jpg") repeat;
    width: 100%;
    background-size: cover;
}

.bg-header{
    background: url("../images/charlie-chaplin-3.jpg") no-repeat right center, url("../images/film.png") no-repeat right center;
    width: 100%;
    background-size: contain;

}

#remaining-time{
    width: 100%;
    margin: 0 auto;
    padding: 10px;

}

.main-container{
    background-color: rgba(75,175,198, 0.9);
    width:90%;
    margin:auto;
    border: rgb(26, 161, 170) solid 3px;
    box-shadow: 3px 7px #0e606bbe;
    height: 600px;
    color: #2a5547;
    margin-top: 20px;
}
#about-charlie{
    background: url('../images/about-bg.png');
    width: 50%;
    margin: auto;
    height: auto;
    padding: 60px;
    font-size: 25px;
    line-height: 40px;
    margin-top: 30px;
    color: #914f15;
}

#start-btn, #play-again-btn{
    font-family: 'BioRhyme', serif;
    background-color: rgb(75,175,198);
    color: #2a5547;
    width: 300px;
    padding: 10px;
    font-size: 40px;
    border: 2px solid #2a5547;
    border-radius: 10px;
    margin-top: 20px;
}

.heading{
    font-family: 'Rakkas', cursive;
}
#remaining-time{
    font-family: 'Yatra One', cursive;
    background-color: rgb(75,175,198);
    color: #551700;
    border: 2px solid #2a5547;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}
.margin{
    font-family: 'BioRhyme', serif;
    margin: 5px 50px 20px 50px;
    background-color: rgb(75,175,198);
    border: 2px solid #2a5547;
    border-radius: 10px;
    padding: 10px;
}

ul li{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    font-size: 25px;
    color: #114c2a;
    line-height: 50px;
    cursor: pointer;
}

ul li:hover{
    background-color:  rgb(75,175,198);
    border: 2px solid #2a5547;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

.alert{
    font-family: 'BioRhyme', serif;
}

.card{
    background-color: rgba(229, 235, 236, 0.6);
    font-family: 'Yatra One', cursive;
    line-height: 10px;
    width: 50%;
    margin: auto;
}



/*
 media queries starts here
 */

@media only screen and (max-width: 640px){

    #about-charlie{
        width: 90%;
        padding: 50px;
        font-size: 20px;
        line-height: 35px;
    }

    #start-btn, #play-again-btn{
        width: 200px;
        padding: 10px;
        font-size: 30px;
    }

    .heading{
        font-size: 35px;
    }

    .margin{
        margin: 5px 25px 20px 25px;
        padding: 5px;
    }

    .card{
        width: 70%;
    }
}

@media only screen and (min-width: 641px) and (max-width: 768px){

    #about-charlie{
        width: 100%;
        padding: 50px;
        font-size: 25px;
        line-height: 35px;
    }

    #start-btn, #play-again-btn{
        width: 200px;
        padding: 10px;
        font-size: 30px;
    }

    .heading{
        font-size: 35px;
    }

    .margin{
        margin: 5px 25px 20px 25px;
        padding: 5px;
    }

    .card{
        width: 80%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 875px){
    #about-charlie{
        width: 100%;
        padding: 50px;
        font-size: 25px;
        line-height: 35px;
    }

    .heading{
        font-size: 40px;
    }
}

@media only screen and (min-width: 876px) and (max-width: 980px){
    #about-charlie{
        width: 100%;
        padding: 50px;
        font-size: 25px;
        line-height: 35px;
    }

    .heading{
        font-size: 50px;
    }
}
@media only screen and (min-width: 980px){


}